:root {
  font-family: 'Noto Sans SC', sans-serif;
  font-family: 'Noto Serif SC', serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #110901;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  user-select: none;
}

body,
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border-width: 0;
  border-style: solid;
  padding: 0;
  line-height: 1;
}

.box {
  border-image-source: url(/assets/box.9.png);
  border-image-slice: 49% fill;
  border-image-width: 2em;
  padding: 1em;
}