:root {
  font-family: system-ui, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #110901;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#app {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.box {
  border-image-source: url(/assets/box.9.png);
  border-image-slice: 49% fill;
  border-image-width: 2em;
  padding: 1em;
}